.Card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 5px;
  margin: 10px;
  text-align: center;
  max-width: 350px;
  /*width: 290px;*/
  flex-direction: row;
  display: inline-block;
  margin-top: 10px;
  background-color: hsl(226, 11%, 37%);
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.Card .cardimage{
max-width: 60%;
height: auto;
border-radius: 50%;
margin-bottom: 10px;
}

.Card .header{
font-family: Arial, Helvetica, sans-serif;
margin: 0;
color: black;

}

.Card .body{
font-family: Arial, Helvetica, sans-serif;
color: hsl(0, 60%, 6%);
}

.header2{
  margin-bottom: 100px;
}

.header2 .extensionsList{
  float: left;
  text-align: left;
  font-size: 30px;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin-bottom: 50px;
}

.header2 .active{
  float: right;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}

.header2 .buttons{
  border: 1px solid hsl(0, 0%, 80%);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  padding: 10px;
  border-radius: 1.5rem;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.header2 .buttons:hover{
  background-color: hsl(3, 86%, 64%);
}

.searchBar {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

input.searchBar{
  background-color: transparent;
}

.wholedamnpage {
  background: linear-gradient(180deg, #040918 0%, #091540 100%);
}

.cardDiv{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input[type="text"]{
  font-size: 1.5rem;
 
}

/* Toggle Switch CSS Start */

.switch {
  float: right;
  position: relative;
  /*display: inline-block;*/
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: hsl(3, 86%, 64%); /*#2196F3 is default */
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Toggle Switch CSS End */

.removeButton{
  float: left;
  margin-top: 0px;
  padding: 10px;
  border-radius: 1.5rem;
  border: 1px solid hsl(0, 0%, 80%);
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.removeButton:hover{
  background-color: red;
}

.removeButton:active{
  color: red;
}